<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<!-- <style>
    #map { height: 180px; }
</style> -->
    <header>
        <!-- <%- include('../partials/header'); %> -->
    </header>
    <body>
        <svg id="my_dataviz" width="400" height="300"></svg>
        <!-- <%- JSON.stringify(result) %> -->
        <!-- <div class="jumbotron">
            <h1 class="display-4">About mySmartHome</h1>
            <p class="lead">This is a mid-term assignment for Database and Web Applications developed by Yui Kwan Law (190318033).</p>
          </div> -->
        <!-- <div id="map"></div> -->
    </body>
        <%- include('../partials/foot'); %>
</html>