<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <body>
        <div class="jumbotron">
            <h1 class="display-4">About mySmartHome</h1>
            <p class="lead">This is a mid-term assignment for Database and Web Applications developed by Yui Kwan Law (190318033).</p>
          </div>
    </body>
        <%- include('../partials/foot'); %>
</html>