<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <body>
        <div class="jumbotron">
            <h1 class="display-4">mySmartHome</h1>
            <p class="lead">Welcome to the homepage for mySmartHome! Please use the navigation bar above.</p>
        </div>

    </body>
        <%- include('../partials/foot'); %>
</html>